<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="inicio-sesion">
  <template>
    <style>
      :host {
        display: line-block;
        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Aqui va el cintillo de bancomer</h1>
          <!-- <img src="/images/bancomercinta.png">a -->
        </div>
      </div>
    </div>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class InicioSesion extends Polymer.Element {
      static get is() { return 'inicio-sesion'; }
      static get properties() {
        return {

        };
      }
    }
    window.customElements.define(InicioSesion.is,InicioSesion);
  </script>
</dom-module>
